mcq.py
test.txt
chromedriver.exe
gpt.ipynb
__pycache__/
# gpt_assess.py
# gpt_turbo.py
test.py
match.ipynb
try.ipynb
test.txt
secret/__pycache__/
# templates/test.html
demo.py
data.py
test.ipynb
/temp/
test copy.ipynb
.env