{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='ques/edit_ques.css') }}">

<div class="ihome content-section">
    <form method="POST" action="" onkeydown="return event.key != 'Enter';">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Request Questions from Text</legend>
            <div class="form-group">
                What is the topic:
                <select name="topic" id="topic" class="datalistt" style="border: grey solid 1px;border-radius: 10px;">
                    {% for i in topics %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>

                <p style="margin-bottom:0.5rem">Question Type:</p>
                <div>
                    <div style="float: left;">
                        <input type="radio" class="high_dif" name="option" id='mcq' value="mcq" checked>
                        <label class='high_dif_label' for="mcq">MCQ</label>
                    </div>
                    <div style="float: left;">
                        <input type="radio" class="high_dif" name="option" id="short" value="short">
                        <label class='high_dif_label' for="short">Short Answer</label>
                    </div>
                    <div style="float: left;">
                        <input type="radio" class="high_dif" name="option" id="long" value="long">
                        <label class='high_dif_label' for="long">Long Answer</label>
                    </div>
                    <div style="float: left;">
                        <input type="radio" class="high_dif" name="option" id="multi_mcq" value="multi_mcq">
                        <label class='high_dif_label' for="multi_mcq">Multi MCQ</label>
                    </div>
                </div>
                <br>
                <br>
                <p style="margin-bottom: 0.5rem;">Choose Question Difficulty:</p>
                <div style="display:flex;">
                    <div>
                        <input class='high_dif' type="radio" id="ALL" name="dif" value="ALL" style="margin-left: 0;"
                            checked>
                        <label class='high_dif_label' for="ALL">ALL</label>
                    </div>
                    <div>
                        <input class='high_dif' type="radio" id="EASY" name="dif" value="EASY" style="margin-left:0;">
                        <label class='high_dif_label' for="EASY">Easy</label>
                    </div>
                    <div>
                        <input class='high_dif' type="radio" id="MEDIUM" name="dif" value="MEDIUM"
                            style="margin-left: 0;">
                        <label class='high_dif_label' for="MEDIUM">Medium</label>
                    </div>

                    <div>
                        <input class='high_dif' type="radio" id="HARD" name="dif" value="HARD" style="margin-left: 0;">
                        <label class='high_dif_label' for="HARD">Hard</label>
                    </div>
                </div>


                <button href="#" class="btn btn-secondary form-control"
                    style="border: 2px solid #16192c;background-color: #16192c; margin:5px; box-shadow: 0px 0px 2px 2px rgb(53, 53, 53);">
                    Submit
                </button>
            </div>
        </fieldset>
    </form>
</div>
<br>

{% if length > 0 %}

<div class="ihome content-section">

    <form method="POST" action="" onkeydown="return event.key != 'Enter';">

        {% for i in range(length) %}

        <article class="media content-section"
            style="border: 2px solid rgb(63, 63, 63);border-radius: 10px;padding: 2%">
            <div class="media-body">
                Question : <input type="text" name="question{{i}}" value="{{questions[i]['ques']}}" style="width: 75%">
                <br>
                <br>
                {% if ques_type=='mcq' %}
                <p>Options: </p>
                {% for j in ['A','B','C','D'] %}
                <input style="width:0px" disabled>
                <input type="radio" name="ans{{i}}" style="float: left; margin-top: 5px;" value="{{j}}" {{'checked' if j
                    in questions[i]['correct'] else ' ' }}>
                <input type="text" name="answer{{i}}{{j}}" value="{{questions[i]['options'][j]}}"
                    style="float: left; width:75%; margin-left: 2%;">
                <br>
                {% endfor %}
                <br>
                {% elif ques_type=='short' %}
                Answer : <input type="text" name="answer2{{i}}" value="{{questions[i]['correct']}}" style="width: 75%">
                {% elif ques_type=='long' %}
                Answer : <input type="text" name="answer2{{i}}" value="{{questions[i]['correct']}}" style="width: 75%">
                {% elif ques_type=='multi_mcq' %}
                <p>Options: </p>

                {% for j in ['A','B','C','D'] %}
                <input type="checkbox" name="ans{{i}}" style="float: left; margin-top: 5px;" {{'checked' if j in
                    questions[i]['correct'] else ' ' }} value="{{j}}">
                <input type="text" name="answer{{i}}{{j}}" value="{{questions[i]['options'][j]}}"
                    style="float: left; width:75%; margin-left: 2%;">
                <br>
                <br>
                {% endfor %}
                {% endif %}
                <input class='high_dif dif_easy' type="radio" id="dif_easy{{i}}" name="diff{{i}}" value="EASY" {{'checked' if
                    questions[i]['diff']=='EASY' else '' }}>
                <label class='high_dif_label' for="dif_easy{{i}}">Easy</label>
                <input class='high_dif dif_medium' type="radio" id="dif_medium{{i}}" name="diff{{i}}" value="MEDIUM" {{'checked' if
                    questions[i]['diff']=='MEDIUM' else '' }}>
                <label class='high_dif_label' for="dif_medium{{i}}">Medium</label>
                <input class='high_dif dif_hard' type="radio" id="dif_hard{{i}}" name="diff{{i}}" value="HARD" {{'checked' if
                    questions[i]['diff']=='HARD' else '' }}>
                <label class='high_dif_label' for="dif_hard{{i}}"">Hard</label>
                <div style=" float: right;">
                    <input type="checkbox" id="{{i}}" name="del{{i}}" style="float: none;">
                    <label for="{{i}}" style="float: none;">Delete</label>
            </div>
</div>
</article>
<br>
{% endfor %}

{% if length != 0 %}
<div class="form-group">
    <button href="#" class="btn btn-secondary form-control"
        style="border: 2px solid #16192c;background-color: #16192c; margin:5px; box-shadow: 0px 0px 2px 2px rgb(53, 53, 53);">
        Submit
    </button>
</div>
{% endif %}

</form>

</div>

{% endif %}

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>

{% endblock content %}